VITE_FIREBASE_API_KEY=AIzaSyBmmTRyczTNwSJDN1G9Clfdv81Gx5D0_Gw
VITE_FIREBASE_PROJECT_ID=monitor-de-estudos-2d9f9.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=monitor-de-estudos-2d9f9.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=571546571581
VITE_FIREBASE_APP_ID=1:571546571581:web:3cb3a23265b463c087ab54
